.profile {
    width: 100%;
    max-width: 82%;
    margin-left: 18%;
    min-height: 100vh;
    padding: 8rem 5rem;
    border-left: 3px solid gray;
}

.profile .details-container {
    padding: 1rem;
}

.profile-details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}

.profile-details img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.details-container .all-posts {
    width: 75%;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}