.sign-up {
    width: 100%;
    min-height: 100vh;
    background-image: url("../../assets/bg-images/bg-sign-in-basic.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sign-up > h1 {
    position: fixed;
    top: 0.5rem;
    left: auto;
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
}

.sign-up-container {
    width: 100%;
    height: 80vh;
    max-width: 500px;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    overflow: auto;
}

.sign-up-container > h1 {
    width: 100%;
    text-align: center;
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    color: white;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 7rem;
}

::-webkit-scrollbar {
    width: 0;
}

.sign-up-container > form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sign-up-container form .input-group {
    position: relative;
}

.sign-up-container > form label {
    font-size: 20px;
    margin-bottom: 5px;
}

.sign-up-container > form input {
    width: 100%;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
    margin-bottom: 2rem;
}

.sign-up-container > form button {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}

form button:hover {
    opacity: 0.8;
}

.sign-up-msg {
    cursor: pointer;
}

.sign-up-msg:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.sign-up .footer {
    position: fixed;
    bottom: 0;
    left: auto;
    color: white;
    font-size: 20px;
}

.error {
    color: red;
    position: absolute;
    left: 0;
    bottom: 10px;
}
