.header {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 1rem;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.header > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h1 img {
    width: 50px;
}

.header input {
    width: 500px;
    padding: 12px 1rem;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
}

.header .menus {
    display: flex;
    gap: 2rem;
}

.menus img {
    width: 70px;
    filter: grayscale(100%);
    padding: 5px 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s;
}

.menus img:hover {
    background-color: rgb(240, 240, 240);
}

a:any-link {
    text-decoration: none;
}

.menus .active {
    filter: grayscale(0);
}

.header .profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header .profile-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
