* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

a:any-link {
    color: black;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #f2f4f7;
}
