.new-post {
    width: 100%;
    max-width: 82%;
    margin-left: 18%;
    min-height: 100vh;
    padding: 8rem 5rem;
    border-left: 3px solid gray;
}

.new-post h1 {
    margin-bottom: 2rem;
}

.post-form {
    width: 100%;
    max-width: 800px;
    margin: 1rem auto 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
}

.post-form .input-group {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    position: relative;
}

.post-form .input-group label {
    font-size: 25px;
    font-weight: bold;
}

.post-form .input-group input {
    padding: 12px 8px;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
    margin-bottom: 2rem;
}

.post-form .input-group textarea {
    padding: 12px 8px;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
    resize: vertical;
    margin-bottom: 2rem;
}

.post-form button {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}

.post-form button:hover {
    opacity: 0.8;
}
